@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset */
@layer base {
  * {
    margin: 0;
    padding: 0;
    overflow: visible;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  :root {
    --background-primary: rgb(223, 119, 0);
    --background-primary-light: rgb(255, 255, 255);
    --background-primary-dark: rgb(17, 17, 17);
    --background-primary-linear: linear-gradient(to top, #000000 70%, #090909);
    --background-primary-linear-light: linear-gradient(to left, #e9e9e9, #f7f7f7, #e9e9e9, #f7f7f7, #e9e9e9);
    --background-primary-radial: radial-gradient(#ffffff, #ffffff, #ececec);
    --background-secondary: rgb(199, 106, 0);
    --background-secondary-dark: rgb(23, 23, 23);
    --background-secondary-linear-light: linear-gradient(to left, #e7e7e7, #efefef, #e7e7e7);
    --background-secondary-gradient-dark: linear-gradient(to top, rgb(7, 7, 7), rgb(10, 10, 10), rgb(13, 13, 13), rgb(17, 17, 17), rgb(19, 19, 19), rgb(21, 21, 21));
    --background-secondary-radial: radial-gradient(#ffffff, #ffffff, #a9a9a9);
    --background-tertiary-radial: radial-gradient( #ebebeb 30%, #ffffff 60%, #3b3b3b );
    --background-tertiary-gradient-dark: linear-gradient( rgb(14, 14, 14), rgb(16, 16, 16), rgb(19, 19, 19), rgb(21, 21, 21), rgb(16, 16, 16), rgb(21, 21, 21));
    --background-tertiary-dark: rgb(29, 29, 29);
    --background-tertiary-light: rgb(204, 204, 204);

    --background-transparent-dark: #0909096b;
    --background-header: #171717;
    --background-light: #f1f1f1;


    --background-blue: linear-gradient(to left, rgb(68, 2, 223), rgb(79, 172, 248));
    --background-yellow: linear-gradient(to left, rgb(255, 227, 69), rgb(255, 174, 0));
    --background-yellowRight: linear-gradient(to right, rgb(255, 227, 69), rgb(255, 174, 0));
    --background-cianoDark: linear-gradient(to left, rgb(3, 211, 159), rgb(2, 95, 56));
    --background-orangeDark: linear-gradient(to left, rgb(255, 157, 29), rgb(121, 64, 0));
    --background-orange-linear: linear-gradient(to right, rgba(148, 148, 148, 0.123), rgba(233, 233, 233, 0.123), rgba(148, 148, 148, 0.123));
    --background-orangeDarkRight: linear-gradient(to right, rgb(255, 157, 29), rgb(121, 64, 0));
    --background-gradient-dark: linear-gradient(to top, rgb(0, 0, 0), rgb(0, 0, 0), rgb(2, 2, 2), rgb(4, 4, 4), rgb(11, 11, 11), rgb(21, 21, 21));

    --text-primary: rgb(223, 119, 0);
    --text-primary-dark: #070707;
    --text-primary-light: #ffffff;
    --text-secondary: rgb(43, 23, 0);
    --text-secondary-dark: #171717;
    --text-secondary-light: #ececec;
    --text-tertiary: rgb(199, 106, 0);
    --text-tertiary-dark: rgb(36, 36, 36);
    --text-tertiary-light: rgb(204, 204, 204);
    --text-quaternary: rgb(68, 0, 255);
    --text-quaternary-dark: rgb(70, 70, 70);
    --text-quaternary-light: rgb(131, 131, 131);

    --color-01: #C97636;
    --color-02: #914B16;
    --color-03: #003D45;
    --color-04: #32DAF0;
    --color-text-01: #fff;
    --color-text-02: #dbdbdb;
    --color-text-03: #cecece;
    --color-text-04: #a8a8a8;
    --color-text-05: #000000;
    --color-text-06: #1a1a1a;
    --color-text-07: rgb(255, 157, 29);
    --color-text-08: rgb(3, 211, 159);
    --color-background2: #0e070c;
    --color-background3: #141414;
    --color-background-gradient: linear-gradient(#0b0a0c, #0b080e, #0e0714);
    --color-05: #36123B;
    --color-06: #9539ff;
    --color-07: #3D0045;
    --color-08: #b479f8;
    --color-09: #B53BC6;
    --color-10: rgb(77, 52, 127);
    --color-11: #7f1be4;
    --step--2: clamp(0.6075rem, 0.5063rem + 0.405vw, 0.9113rem);
    --step--1: clamp(0.7294rem, 0.6079rem + 0.4858vw, 1.0938rem);
    --step-0: clamp(0.875rem, 0.7292rem + 0.5833vw, 1.3125rem);
    --step-1: clamp(1.05rem, 0.875rem + 0.7vw, 1.575rem);
    --step-2: clamp(1.26rem, 1.05rem + 0.84vw, 1.89rem);
    --step-3: clamp(1.5119rem, 1.2598rem + 1.0083vw, 2.2681rem);
    --step-4: clamp(1.8144rem, 1.5119rem + 1.21vw, 2.7219rem);
    --step-5: clamp(2.1775rem, 1.8148rem + 1.4508vw, 3.2656rem);
    --step-6: clamp(2.25rem, 0.8438rem + 3.75vi, 3.75rem);

    --max-width: 1170px;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Philosopher', sans-serif;
  }

  span {
    font-family: 'Raleway', sans-serif;
  }

  p,
  a,
  footer {
    font-family: 'Kodchasan', sans-serif;
  }
}

/* Effect Hover Header */
@layer base {
  .hover:hover>ul {
    opacity: 1 !important;
    visibility: visible !important;
  }

  .hoverUnderline:hover>a>span {
    background-size: 100% 3px !important;
  }

}

/* Fonts */
@layer base {

  .philosopher-regular {
    font-family: "Philosopher", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #00000000;
  }

  .philosopher-bold {
    font-family: "Philosopher", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  .philosopher-regular-italic {
    font-family: "Philosopher", sans-serif;
    font-weight: 400;
    font-style: italic;
  }

  .philosopher-bold-italic {
    font-family: "Philosopher", sans-serif;
    font-weight: 700;
    font-style: italic;
  }

}

@layer base {
  .kodchasan-extralight {
    font-family: "Kodchasan", sans-serif;
    font-weight: 200;
    font-style: normal;
  }

  .kodchasan-extralight-italic {
    font-family: "Kodchasan", sans-serif;
    font-weight: 200;
    font-style: italic;
  }

  .kodchasan-light {
    font-family: "Kodchasan", sans-serif;
    font-weight: 300;
    font-style: normal;
  }

  .kodchasan-light-italic {
    font-family: "Kodchasan", sans-serif;
    font-weight: 300;
    font-style: italic;
  }

  .kodchasan-regular {
    font-family: "Kodchasan", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .kodchasan-regular-italic {
    font-family: "Kodchasan", sans-serif;
    font-weight: 400;
    font-style: italic;
  }

  .kodchasan-medium {
    font-family: "Kodchasan", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

  .kodchasan-medium-italic {
    font-family: "Kodchasan", sans-serif;
    font-weight: 500;
    font-style: italic;
  }

  .kodchasan-semibold {
    font-family: "Kodchasan", sans-serif;
    font-weight: 600;
    font-style: normal;
  }

  .kodchasan-semibold-italic {
    font-family: "Kodchasan", sans-serif;
    font-weight: 600;
    font-style: italic;
  }

  .kodchasan-bold {
    font-family: "Kodchasan", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  .kodchasan-bold-italic {
    font-family: "Kodchasan", sans-serif;
    font-weight: 700;
    font-style: italic;
  }

}

/* Style Button */
@layer base {
  .btnStyle {
    border-radius: 50%;
    box-shadow: inset 0px -1px 3px 2px rgb(0, 0, 0);
  }

  .btnStyleBg::before {
    position: absolute;
    z-index: -0;
    top: -3px;
    bottom: -3px;
    left: -3px;
    right: -3px;
    content: '';
    background: linear-gradient(to bottom, rgb(255, 179, 113) 2%, rgb(255, 132, 0) 10%, rgb(94, 42, 5), rgb(94, 42, 5), rgb(31, 14, 1) 45%);
    border-radius: 50%;
    animation: Rotate 2.1s infinite linear;
  }

  .check {
    font-family: "Font Awesome 5 free";
    content: "\2713  ";
    font-size: 21px;
    color: var(--text-primary);
  }

}

/* Scroollbar */
@layer base {
  ::-webkit-scrollbar {
    /* largura da barra de rolagem */
    width: 7px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
    /* cor de fundo da barra de rolagem */
    border-radius: 10px;
    /* cantos arredondados */
  }

  ::-webkit-scrollbar-thumb {
    background: #1b1b1b;
    /* cor da barra de rolagem */
    border-radius: 10px;
    /* cantos arredondados */
  }

  ::-webkit-scrollbar-thumb:hover {
    background: black;
    /* cor da barra de rolagem ao passar o mouse */
  }
}